{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="jumbotron bg-light">
      <h1 class="display-4 text-center mb-4">Welcome to our File Storage System</h1>
      <p class="lead">
        Our file storage system allows you to securely store and access your files from anywhere with an internet connection. With our user-friendly login process, you can easily upload and access your files with confidence that your data is protected by encryption.
      </p>
      <hr class="my-4">
      <p class="text-center">
        <a id="bottom"></a>
        <a class="btn btn-primary btn-lg" href="#bottom" role="button">Learn more</a>
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Secure and Convenient File Storage</h2>
        <p>
          Our file storage system with login provides a secure and convenient way to store and access your files remotely. Simply create an account with a username and password, and you can upload and access your files from anywhere with an internet connection.
        </p>
        <p>
          Our system uses encryption to protect your files during transmission and while they are stored on our server, ensuring the security of your data.
        </p>
      </div>
      <div class="col-md-6">
        <h2 class="text-center mb-4">Meet Our Developers</h2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dhanalakshmi</h5>
            <p class="card-text">Dhanalakshmi is a student developer who loves building software that solves real-world problems. She enjoys working with a variety of programming languages and frameworks, and is always eager to learn new things.</p>
            <a href="http://instagram.com/dhanam2972?igshid=ZDdkNTZiNTM=" class="card-link">@Dhana</a>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">JeyaShree</h5>
            <p class="card-text">JeyaShree is also a student developer who loves building software that solves real-world problems. She enjoys working with a variety of programming languages and frameworks, and is always eager to learn new things. </p>
            <a href="http://instagram.com/jeyashree875?igshid=ZDdkNTZiNTM=" class="card-link">@JeyaShree</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
